antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime_1636143381636/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.11.1
bleach==5.0.0
brotlipy==0.7.0
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1646828090471/work
cdo @ file:///home/conda/feedstock_root/build_artifacts/python-cdo_1641580064726/work
certifi==2021.10.8
cf-units @ file:///home/conda/feedstock_root/build_artifacts/cf-units_1640986243066/work
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046050867/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1649636873066/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
cryptography @ file:///home/builder/ci_310/cryptography_1640808721005/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1648827921498/work
debugpy==1.6.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
eccodes @ file:///home/conda/feedstock_root/build_artifacts/python-eccodes_1648673279841/work
entrypoints==0.4
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fastjsonschema==2.15.3
findlibs @ file:///home/conda/feedstock_root/build_artifacts/findlibs_1637973289948/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1649448451918/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1648728284967/work
ipykernel==6.12.1
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1648413554332/work
ipython-genutils==0.2.0
iris-grib @ file:///home/conda/feedstock_root/build_artifacts/iris-grib_1647277683887/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1649067100958/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1645024262201/work
jupyterlab-pygments==0.2.0
jupyterthemes==0.20.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1648854394530/work
lesscpy @ file:///home/conda/feedstock_root/build_artifacts/lesscpy_1626335962205/work
locket @ file:///tmp/build/80754af9/locket_1646987883418/work
Magics @ file:///home/conda/feedstock_root/build_artifacts/magics-python_1620740600470/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737547956/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1639358983313/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune==0.8.4
munkres==1.1.4
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1636302988556/work
notebook==6.4.10
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1649572662153/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pandocfilters==1.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1648857107578/work
ply==3.11
prometheus-client==0.14.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1649130487073/work
psutil==5.9.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pygrib @ file:///home/conda/feedstock_root/build_artifacts/pygrib_1636590586335/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1646811177445/work
pyrsistent==0.18.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1644593068012/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757090803/work
pyzmq==22.3.0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1644357243513/work
scitools-iris @ file:///home/conda/feedstock_root/build_artifacts/iris_1647021777534/work
Send2Trash==1.8.0
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1649587729584/work
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1649013519845/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.2
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
terminado==0.13.3
testpath==0.6.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
tornado==6.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111910890/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650637206367/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1649093996453/work
wrf-python==1.3.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1649442408890/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
